Source: leterrier-fubuki
Section: misc
Priority: extra
Maintainer: Eric Seigne <eric.seigne@abuledu.org>
Build-Depends: cdbs, libqt5webkit5-dev, qt5-qmake, qtbase5-dev, libqt5core5|libqt5core5a, zlib1g-dev, libexiv2-dev
Standards-Version: 3.8.3
Homepage: http://www.abuledu.org/leterrier/

Package: leterrier-fubuki
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${leterrier:Depends}, exiv2, zlib1g
Description: Un jeu de Fubuki (AbulEdu Le Terrier)
 Complétez la grille pour atteindre la bonne somme 
 pour chaque ligne et colonne ... ce logiciel fait
 partie des logiciels du Terrier d'AbulEdu

