
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=leterrier-fubuki
Name=AbulEdu Fubuki
Comment=Un jeu de Fubuki
Icon=/usr/share/leterrier-fubuki/leterrier-fubuki-256.png
Categories=Education;
